django<2
django-activecollab-digger
django-compressor
django-extensions
django-grappelli
django-haystack==3.4.0
django-kdl-ldap
django-libsass
django-model-utils
django-redis
lxml
psycopg2
pysolr
redis
wagtail<2

