django>=1.11,<2.1
django-compressor==2.2
django-environ==0.4.5
django-extensions==2.0.0
django-grappelli==2.11.1
django-haystack==2.7.dev0
django-kdl-ldap==1.1
django-libsass==0.7
django-model-utils==3.1.1
django-redis==4.9.0
gunicorn
lxml==4.1.1
psycopg2-binary==2.7.4
pyldap<3
pysolr==3.7.0
python-ldap<=3.0.0
redis>=2.10,<3
wagtail>=1.13,<2
