{% load wagtailcore_tags periodicals_tags cms_tags %}

<section class="callout">
    <form method="get" action="{% url 'search' %}" class="simple">
        <div class="row">
            <div class="small-12 columns">
                <label aria-label="quick search">Keyword:</label>
                {{ form.q }} {{ form.order_by.as_hidden }}
                <div role="radiogroup" aria-label="mode">
                    {{ form.mode }}
                </div>
                <input class="button" type="submit" value="Search" aria-label="quick search">
                <a href="{% url 'search' %}?{% initial_search_parameters %}" class="text-center">Advanced search</a>
            </div>
        </div>
    </form>
</section>