{% load staticfiles periodicals_tags cms_tags %}
{% block main_menu %}

<div class="navwrapper">
  <div class="logo">
    <a href="https://museumfreemasonry.org.uk/">
         <img src="{% static 'images/museum-of-freemasonry-logo-mpo.jpg' %}" alt="Museum of Freemasonry" style="height:38px; width:142px;">
    </a>
    <h1><a href="/">Masonic Periodicals Online</a></h1>
  </div>

  <input type="checkbox" id="menu-toggle">

  <label role="navigation" aria-labelledby="menu" for="menu-toggle" class="label-toggle">  
    <span id="menu" class="menu-text">Menu</span>
    <span></span>
    <span></span>
    <span></span>
  </label> 
    
  {% get_site_root as site_root %}
  {% main_menu root=site_root current_page=self %}
</div>
{% endblock %}
