

<style type="text/css">
/* Fonts */
@font-face {
    font-family: 'EuclidCircularB';
    font-style: normal;
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-Light-Web/M/EuclidCircularB-Light-WebM.ttf");
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-Light-Web/M/EuclidCircularB-Light-WebM.eot") format("eot"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-Light-Web/M/EuclidCircularB-Light-WebM.woff") format("woff"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-Light-Web/M/EuclidCircularB-Light-WebM.woff2") format("woff2");
}
@font-face {
    font-family: 'EuclidCircularB';
    font-style: italic;
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-LightItalic-Web/M/EuclidCircularB-LightItalic-WebM.ttf");
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-LightItalic-Web/M/EuclidCircularB-LightItalic-WebM.eot") format("eot"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-LightItalic-Web/M/EuclidCircularB-LightItalic-WebM.woff") format("woff"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-LightItalic-Web/M/EuclidCircularB-LightItalic-WebM.woff2") format("woff2");
}
@font-face {
    font-family: 'EuclidCircularB';
    font-weight: medium;
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-Medium-Web/M/EuclidCircularB-Medium-WebM.ttf");
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-Medium-Web/M/EuclidCircularB-Medium-WebM.eot") format("eot"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-Medium-Web/M/EuclidCircularB-Medium-WebM.woff") format("woff"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-Medium-Web/M/EuclidCircularB-Medium-WebM.woff2") format("woff2");
}
@font-face {
    font-family: 'EuclidCircularB';
    font-weight: medium;
    font-style: italic;
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-MediumItalic-Web/M/EuclidCircularB-MediumItalic-WebM.ttf");
    src:    url("/static/fonts/EuclidCircularB/EuclidCircularB-MediumItalic-Web/M/EuclidCircularB-MediumItalic-WebM.eot") format("eot"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-MediumItalic-Web/M/EuclidCircularB-MediumItalic-WebM.woff") format("woff"),
            url("/static/fonts/EuclidCircularB/EuclidCircularB-MediumItalic-Web/M/EuclidCircularB-MediumItalic-WebM.woff2") format("woff2");
}


    div{
      font-family: 'EuclidCircularB', sans-serif;
      text-align:center; 
      margin-top:2rem;
    }
    h3{
      color:#0a0a0a; 
      font-size:2.5rem; 
      line-height:1.5rem;
    }

    h4{
      color:#0a0a0a; 
      font-size:1.5rem;
    }
    p{
      font-size:1.1rem;
    }
    p a{
      color:#0a0a0a; 
    }
    p a:hover{
      opacity:0.8;
    }
    button{
      background-color:#050A2F;
      padding:1rem 2rem; 
      border: none;
      font-family:  'EuclidCircularB', sans-serif;
      text-transform: uppercase;
    }
    button a{
      color:#fff; 
      font-size:1.3rem; 
      text-decoration: none;
      font-family:  'EuclidCircularB', sans-serif;
    }
    button:hover {
      background-color:#0a0a0a;
    }
</style>

<div>
  <h3>404</h3>
  <h4>Sorry, the page you were looking for was not found.</h4>
  <p>This might be because you typed in the web address incorrectly, or because this page is no longer available. Please return to the <a href="/">main site.</a></p><br>
  <button><a href="/">Home</a></button>
</div>
        
